body {
    font-family: "Rubik",sans-serif;
    font-weight: normal;
    font-style: normal;
	color: #fff;
	margin: 1;
	padding: 1;
	font-size: 13px;
}
h1 {
	text-align: center;
	background-color: #2d2d2d;
	clear: both;
	margin: 0;
	padding: 20px 0px 20px 0px;
}
a {
	color: #fff;
}
a:hover {
	color: #47C9E5;
}
.thumb_img {
	height: auto;
	max-width: 350px;
}
@media screen and (max-width: 1200px) {
	.thumb_img {max-width: 300px;}	
}
@media screen and (max-width: 1024px) {
	.thumb_img {max-width: 250px;}	
}
@media screen and (max-width: 900px) {
	.thumb_img {max-width: 200px;}	
}
@media screen and (max-width: 768px) {
	.thumb_img {max-width: 200px;}	
}
@media screen and (max-width: 480px) {
	.thumb_img {max-width: 200px;}	
}
.header_footer {
	text-align: center;
	padding: 20px;
	clear: both;
}
.header_footer:empty {
	padding: 0px;
}
.bottom_copyright {
	text-align: center;
	clear: both;
	background-color: #2d2d2d;
	padding: 20px 0px 20px 0px;
	display: block;
	color: #B6B6B6;
	font-size: 11px;
}
.bottom_copyright a {
	color: #B6B6B6;
}
.bottom_copyright a:hover {
	color: #47C9E5;
}
.list_wrapper {
	text-align: center;
	padding-left: 20px;
}
.etg_gallery {
	list-style-type: none;
	display: inline-block;
}
.etg_gallery li {
	float: left;
	margin: 0 5px 1px 0;
}
.etg_gallery .thumb_caption {
	display: none;
}
div.navigation {
	clear: both;
	text-align: center;
}
ul.page-numbers {
	display:inline-block;
	list-style:none;
	background-color:#1a1a1a;
	color: #8d8d8d;
	padding:5px 4px;
	border-radius:30px;
	border-width:0
}
ul.page-numbers li {
	display:inline;
	float:left;
	color: #8d8d8d;
	margin:0 2px;
	text-align:center;
	border-radius:30px;
	white-space: nowrap;
}
ul.page-numbers li.current{
	font-weight:bold;
	color: #fff;
	background-color: #4a4a4a;
}
ul.page-numbers li.current a {
	font-weight:bold;
	color: #fff;
}
ul.page-numbers li.previous {
	width:auto;
	padding:0;
}
ul.page-numbers li.next {
	width:auto;
	padding:0;
}
ul.page-numbers a {
	display:block;
	width:auto;
	height:40px;
	line-height:40px;
	font-weight:400;
	cursor:pointer;
	padding:0px 15px;
	text-decoration: none;
	color: #8d8d8d;
}
ul.page-numbers a:hover, ul.page-numbers a:focus {
	background-color:transparent !important;
	color: #47C9E5;
}
ul.page-numbers li.current:hover{
	color:#fff;
	background-color:#47c9e5;
	border-radius:30px;
}
