body {
  color: #36393f;
  background: #fff;
  font: 100% system-ui;
}
a {
  color: #0033cc;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #36393f;
  }

  body a {
    color: #809fff;
  }
}